<!-- core/templates/forms/inputs/select_sensorimg.html -->
	<!-- Select INPUT Plugin 	-->
	<select name="sensors" id="{$input.id}" onchange="{$input.onclick}" class="selectpicker" data-width="auto">
		{if="isset($input.unknown)"}
		<option {if="$input.selected=='unknown'"}selected{/if} data-content="<span>{'Unknown'|t}</span>" value="unknown">	    
		</option>
		{/if}
		{loop="$input.sensors"}
		<option {if="$input.selected==$value.value"}selected{/if} data-content="<img src='{$value.img}' <span>     {$value.text}</span>" value="{$value.value}">
		</option>
		{/loop}
	</select>
