

<!-- core/templates/forms/inputs/weekdata.html -->
<label for="weekday">{"Schedule"|t}
<br>
<div class="btn-group">
  <button type="button" class="btn btn-danger">{"Week day"|t}</button>
  <button type="button" class="btn btn-danger">{"Week-end"|t}</button>
  <button type="button" class="btn btn-danger">{"Every day"|t}</button>
</div>
<br>
<br>
<div class="btn-group">
  <button type="button" class="btn btn-primary">{"Monday"|t}</button>
  <button type="button" class="btn btn-primary">{"Tuesday"|t}</button>
  <button type="button" class="btn btn-primary">{"Wesnesday"|t}</button>
  <button type="button" class="btn btn-primary">{"Friday"|t}</button>
  <button type="button" class="btn btn-success">{"Saturday"|t}</button>
  <button type="button" class="btn btn-success">{"Sunday"|t}</button>
</div>
</label>