<!-- core/templates/menu/left/item.html -->
<div class="navbar-header navbar-default">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{$category.text}">
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			</button>
			<p class="navbar-brand visible-xs"> {$category.text|t}</p>
</div>


<div class="collapse navbar-collapse" id="{$category.text}">
<legend>
	{if="isset($category.link)"}
		<a href="settings.php?menu={$category.link}">
	{/if}
	
	{$category.text|t}

	{if="isset($category.link)"}
		</a>
	{/if}
</legend>



<ul class="nav navbar-left nav-pills navbar-justified">
	{if="isset($leftmenu)"}
		{loop="$leftmenu"}
				<li {if="$leftmenu_active==$value.link"}class="active"{/if}>
					<a href="settings.php?menu={$value.link}">
						<i class="glyphicon {$value.icon}"></i>  {$value.text|t}   		
					</a>
				</li>
		{/loop}
	{/if}
</ul>
</div>