

<!-- core/templates/menu/items/item_icons.html -->
	<a href="settings.php?category=objects&menu=addplugins" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i>{"Add"|t}</a>
	<a href="settings.php?category={$category_selected.id}&menu=all{$category_selected.id}" class="btn btn-warning"><i class="fa fa-align-justify"></i> {"All"|t}</a>
	<input onkeyup="search_ajax_objects(this)" type="text">
	<ul class="nav nav-pills">
	{if="isset($settingsmenu)"}
	{loop="$settingsmenu"}
			<li id="{$value.link}_item" class="tooltip-js {if="isset($hide)"}hide{/if} objects_items {if="$settingsmenu_active==$value.link"} active{/if}" data-toggle="tooltip" title="{$value.description}"  data-container="body" data-placement="bottom">
				<a href="settings.php?category={$category_selected.id}&menu={$value.link}">
					<img src="{$value.icon}">  {$value.text|t}   		
					{if="isset($value.state)"}<span class="label {$value.label}"><i class="glyphicon {$value.state}"></i></span>{/if}
				</a>
			</li>
	{/loop}
	{/if}
</ul>
</div>