<!-- core/templates/menu/menu.html -->
<div id="second-nav" class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <br>
    {if="isset($icon)"}<img src="{$icon}">{/if}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse_menu_{$id}">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div class="navbar-collapse collapse" id="collapse_menu_{$id}">
    <ul class="nav navbar-nav">
      {loop="menu_items"}
      <li class="tooltip-js {if="$selected_menu_item == $value.dir"}active{/if} " data-toggle="tooltip" title="{$value.description}"  data-container="body" data-placement="bottom" >
       
        <a href="{$value.link}">
          <h4>{$value.text}</h4>
        </a>
      </li>
      {/loop}
    </ul>
  </div>
</div>
</div>