



<!-- core/views/forms/inputs/ajaxswitch.html -->

<div class="form-group">
	<label for="{$input.id}">{$input.name|t}</label>
	<table class="table table-bordered">
		{loop="input.switchs"}
		<tr>
			<td>
			{$value.text}
			</td>
			<td>
					<input id="{$value.id}" onchange="{$input.onclick}(this,{$value.args})" class="ajaxswitch" {if="$value.checked"}checked{/if} type="checkbox" data-on="success" data-off="danger" data-on-color="success" data-off-color="danger">
			</td>
		</tr>
		{/loop}
	</table>
</div>