


	<!-- Select INPUT Plugin -->
		<select name="plugin_actions0" id="plugin_actions0">
			<option value="{input.parent}" class="if=(isset{$input.child}"){>
				{input.text}                        
			</option>
		</select>

	<!-- Objects -->
		<select name="objects_actions0" onchange="refresh_actions()" id="objects_actions0">
			<option  value="{input.p" class="Computers">
			Windows1                        
			</option>
		</select>

	<!-- Actions -->
		<select name="actions0" onchange="refresh_actions()" id="actions0">
			<option selected class="UID324234234" >
			wake                        
		</option>
	</div>

	<div id="new_actions">
	</div>
</div>

