<!-- Buttons -->
<h3>
	<span onclick="add_{$input.id}()" class="btn btn-success">
		<i class="glyphicon glyphicon-plus"></i>
	</span>
</h3>

<div class="{$input.id}_list">
	<!-- Action  -->
	<div id="{$input.id}_list0">
		<legend id="legend_{$input.id}">
			<span id="legend_text">
				Action                    
			</span>
			<span id="legend_nb0">
				1                    
			</span>
				&nbsp
			<span class="del_action btn btn-danger">
				<i class="glyphicon glyphicon-remove"></i>
			</span>
		</legend>


