<!-- core/views/forms/inputs/select.html -->
<div class="form-group">
	<label for="{$input.id}">{$input.name|t}</label>
	{if="isset($input.img)"} <br> {/if}
	<select name="{$input.id}" {if="isset($input.onchange)"} onchange="{$input.onchange}()" {/if} id="{$input.id}" class='form-control {if="isset($input.img)"}selectpicker{/if}'>
		{loop="$input.options"}
		<option {if="isset($value.img)"}data-content="<img src='{$value.img}' <span>     {$value.text|t}</span>"{/if} {if="$input.selected==$value.value"} selected {/if} value="{$value.value}">{$value.text|t} {if="isset($value.class)"} {$value.class} {/if}</option>
		{/loop}
	</select>
</div>
