<!-- core/views/forms/inputs/text.html -->
<div class="form-group">
    {if="isset($input.name)"}<label for="{$input.id}">{$input.name|t}</label>{/if}

    <input type="text" {if="isset($input.minwidth)"}style="min-width:{$input.minwidth}px;"{/if} {if="isset($input.onkeyup)"}onkeyup="{$input.onkeyup}" {/if}value="{$input.selected}" class="form-control" id="{$input.id}" name="{$input.id}" placeholder="{$input.placeholder|t}" {if="isset($input.required)"} data-bv-message="{'This field is required'|t}"required{/if}>

</div>
