<!-- core/views/footer.html -->

<!-- Dependencies -->
<script type="text/javascript" src="core/libraries/dependancies/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/jquery/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/jquery-chained/jquery.chained.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/jquery/js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/packery/packery.pkgd.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/packery/draggabilly.pkgd.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/packery/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/bootstrap-switch/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/bootstrap/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/highcharts/highcharts.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/highcharts/exporting.js"></script>
<script type="text/javascript" src="core/libraries/dependancies/highcharts/export-csv.js"></script>

<!-- Kana scripts -->
<script type="text/javascript" src="core/views/footer/notification.js"></script>
<script type="text/javascript" src="core/views/footer/onload.js"></script>
<script type="text/javascript" src="core/views/footer/onbeforeunload.js"></script>
<script type="text/javascript" src="core/views/footer/data.js"></script>
<script type="text/javascript" src="core/views/footer/webobject.js"></script>
<script type="text/javascript" src="core/views/footer/rootActions.js"></script>
<script type="text/javascript" src="core/views/footer/autodetect.js"></script>
<script type="text/javascript" src="core/views/footer/chainedselect.js"></script>
<script type="text/javascript" src="core/views/footer/right.js"></script>
<script type="text/javascript" src="core/views/footer/token.js"></script>
<script type="text/javascript" src="core/views/footer/collectors.js"></script>

<!-- Dynamic scripts -->
{loop="dynamic_js"}
<script type="text/javascript" src="{$value}"></script>
{/loop}

<!--Theme scripts -->
{loop="theme_js"}
<script type="text/javascript" src="{$value}"></script>
{/loop}





{if="$error_message"}
<script>
	error = "{$error_message}"
</script>
{/if}

{if="$notice_message"}
<script>
	notice = "{$notice_message}"
</script>
{/if}

</body>
</html>
