<!-- /core/templates/body/close.html -->
<div class="br10"></div>
<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner">


            <h4>
                {loop="$collectors_name"}
                <span class="label label-primary">{$value.text}</span> <span id="c-{$value.value}" onclick="collector_changestate(this,'{$value.value}')" class="label label-warning">?</span>
                {/loop}
                <span class="label label-danger">{"Prototyping"|t}</span>
            </h4>
        </div>
    </nav>
</div>
</body>