	<table class="rotable">
 		<tr>
 			<td><strong>3.3V</strong></td>
 			<td class="label label-danger">&nbsp&nbsp+&nbsp&nbsp&nbsp&nbsp</td>
 			<td></td>
 			<td class="label label-danger">&nbsp&nbsp+&nbsp&nbsp&nbsp</td>
 			<td><strong>5V</strong></td>
 		</tr>
 		<tr>    
 			<td><strong>{$gpios[8][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[8]['label']}">{$gpios[8]["value"]}</td>
 			<td></td>
 			<td class="label label-danger">&nbsp&nbsp+&nbsp&nbsp&nbsp</td>
 			<td><strong>5V</strong></td>	
 		</tr>
 		<tr>
 			<td><strong>{$gpios[9][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[9]['label']}">{$gpios[9]["value"]}</td>
 			<td></td>
 			<td class="label label-default">&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp</td>
 			<td><strong>GND</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[7][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[7]['label']}">{$gpios[7]["value"]}</td>
 			<td></td>
 			<td class="label label-info">TX&nbsp&nbsp&nbsp</td>
 			<td><strong>TxD</strong></td>
 		</tr>
 		<tr>
 			<td><strong>GND</strong></td>
 			<td class="label label-default">&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp&nbsp</td>
 			<td></td>
 			<td class="label label-info">RX&nbsp&nbsp&nbsp</td>
 			<td><strong>RxD</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[0][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[0]['label']}">{$gpios[0]["value"]}</td>
 			<td></td>
 			<td class="label label-{$gpios[1]['label']}">{$gpios[1]["value"]}</td>
 			<td><strong>{$gpios[1][$gpios_type]}</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[2][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[2]['label']}">{$gpios[2]["value"]}</td>
 			<td></td>
 			<td class="label label-default">&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp&nbsp</td>
 			<td><strong>GND</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[3][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[3]['label']}">{$gpios[3]["value"]}</td>
 			<td></td>
 			<td class="label label-{$gpios[4]['label']}">{$gpios[4]["value"]}</td>
 			<td><strong>{$gpios[4][$gpios_type]}</strong></td>
 		</tr>
 		<tr>
 			<td><strong>3.3V</strong></td>
 			<td class="label label-danger">&nbsp&nbsp+&nbsp&nbsp&nbsp&nbsp</td>
 			<td></td>
 			<td class="label label-{$gpios[5]['label']}">{$gpios[5]["value"]}</td>
 			<td><strong>{$gpios[5][$gpios_type]}</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[12][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[12]['label']}">{$gpios[12]["value"]}</td>
 			<td></td>
 			<td class="label label-default">&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp&nbsp</td>
 			<td><strong>GND</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[13][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[13]['label']}">{$gpios[13]["value"]}</td>
 			<td></td>
 			<td class="label label-{$gpios[13]['label']}">{$gpios[13]["value"]}</td>
 			<td><strong>{$gpios[6][$gpios_type]}</strong></td>
 		</tr>
 		<tr>
 			<td><strong>{$gpios[14][$gpios_type]}</strong></td>
 			<td class="label label-{$gpios[14]['label']}">{$gpios[14]["value"]}</td>
 			<td></td>
 			<td class="label label-{$gpios[10]['label']}">{$gpios[10]["value"]}</td>
 			<td><strong>{$gpios[10][$gpios_type]}</strong></td>
 		</tr>
 		<tr>
 			<td><strong>GND</strong></td>
 			<td class="label label-default">&nbsp&nbsp-&nbsp&nbsp&nbsp&nbsp&nbsp</td>
 			<td></td>
 			<td class="label label-{$gpios[11]['label']}">{$gpios[11]["value"]}</td>
 			<td><strong>{$gpios[11][$gpios_type]}</strong></td>
 		</tr>
 	</table>;
 	<button onclick="rotate(0)">{"0°"|t}</button>
 	<button onclick="rotate(90)">{"90°"|t}</button>
 	<button onclick="rotate(180)">{"180°"|t}</button>
 	<button onclick="rotate(270)">{"270°"|t}</button>