<!-- core/views/menu/settings/items/category_item.html -->
<div class="navbar-header navbar-default">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#settings_menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<p class="navbar-brand visible-xs"> {$category_selected.text|t}</p>
</div>

<div class="collapse navbar-collapse" id="settings_menu">
<legend>
		<ul class="nav navbar-left nav-pills navbar-justified">
			{loop="category_items"}
			<li {if="$category_selected.id==$value.category_link"}class="active"{/if}>
				
					<a href="settings.php?category={$value.category_link}">{$value.text|t}</a> 
				
			</li>
			{/loop}
		</ul>
		<br>
		
</legend>