<!-- core/views/menu/menu.html -->
<div id="top-nav" class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <br>
    {if="isset($icon)"}<img src="{$icon}">{/if}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse_menu_{$id}">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div class="navbar-collapse collapse" id="collapse_menu_{$id}">
    <ul class="nav navbar-nav">
      {loop="menu_items"}
      <li class=" {if="$selected_menu_item == $value.dir"}active{/if} ">
       
        <a class="tooltip-js" href="{$value.link}" data-toggle="tooltip"  data-placement="bottom" title="{$value.description}">
          <h4>{$value.text}</h4>
        </a>
      </li>
      {/loop}
    </ul>
  </div>
</div>
</div>